@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-light: theme("colors.violet.500");
  --toastify-color-dark: theme("colors.zinc.900");
  --toastify-color-info: theme("colors.violet.500");
  --toastify-color-success: theme("colors.green.500");
  --toastify-color-warning: theme("colors.yellow.500");
  --toastify-color-error: theme("colors.red.500");

  --toastify-text-color-light: theme('colors.white');
  --toastify-text-color-dark: theme('colors.white');
}
